In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()
# Create Products table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Products (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        price REAL NOT NULL,
        quantity INTEGER NOT NULL
    )
''')
conn.close()

In [12]:
#Add data into the product table
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()
cursor.execute("Insert into Products values(001,'test1',10,50)")
conn.commit()
conn.close()

In [5]:
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Purchases (
        id INTEGER PRIMARY KEY,
        product_id INTEGER,
        quantity INTEGER NOT NULL,
        purchase_date DATE NOT NULL
    )
''')
conn.close()

In [13]:
#Add data into the Purchases table
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()
cursor.execute("Insert into Purchases values(001,001,50,2024-05-20)")
conn.commit()
conn.close()

In [6]:
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()
cursor.execute('''
        CREATE TABLE IF NOT EXISTS Sales (
            id INTEGER PRIMARY KEY,
            product_id INTEGER,
            quantity INTEGER NOT NULL,
            sale_date DATE NOT NULL
        )
    ''')
conn.close()

In [14]:
#Add data into the Sales table
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()
cursor.execute("Insert into Sales values(001,001,50,2024-05-20)")
conn.commit()
conn.close()

In [7]:
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Users (
        id INTEGER PRIMARY KEY,
        username TEXT NOT NULL,
        password TEXT NOT NULL,
        user_type TEXT NOT NULL
    )
''')
conn.close()

In [16]:
#Add data into the Users table
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()
cursor.execute("Insert into Users values(001,'sri','sri123','admin')")
cursor.execute("Insert into Users values(002,'sri1','sri456','admin1')")
conn.commit()
conn.close()

In [18]:
#update the admin1 users to sales
con=sqlite3.connect('inventory.db')
cursor=con.cursor()
cursor.execute("update Users set user_type='sales' where id=001")
con.commit()
con.close()

In [19]:
# Delete the User table
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()
cursor.execute("Delete FROM Users WHERE id = 002")
conn.commit()
conn.close()